@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", "sans-serif";
}

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

* {
  font-family: "Vazirmatn", sans-serif;
}
button {
  cursor: pointer;
  outline: none;
}
.shiki {
  direction: ltr;
}



.ontainer{
  padding: 5px !important;
  width: 100px !important;
  display: flex !important;
  align-items: center !important;
}